/* p{
    color: var(--main-color);
} */
.nav-icon{
    padding-right: 10px;
}
.nav-cart{
    position: relative;
}

.cart-number{
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(9px) translateY(-5px);
    background-color: red;
    width: 17px;
    height: 17px;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
}
nav .container .navbar-nav .active{
    color: red;
}